/* VARIABLES */

:root {
  --sf-black: #313131;
  --sf-gray: #b9b9b9;
  --sf-white: #f5f5f5;
}

/* PHONE CATEGORY MIDDLE */

.item-1 {
  background-image: url(../images/board-1.jpg);
}

.item-2 {
  background-image: url(../images/short-1.jpg);
}

.item-3 {
  background-image: url(../images/long-1.jpg);
}

.item-4 {
  background-image: url(../images/feature-5.jpg);
}

.item-5 {
  background-image: url(../images/filler-2.jpg);
}

.item-6 {
  background-image: url(../images/filler-3.jpg);
}

.cat-title {
  display: none;
}

.cat-mid {
  height: 100%;
}

.item-card {
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: auto auto;  /* grid has two columns; content defines width */
  justify-content: space-between;    /* horizontal alignment of grid tracks */
  align-content: space-between;      /* vertical alignment of grid tracks */
  padding: 18px;
  margin-top: 2px;
}

.item-number {
  color: var(--sf-gray);
  background-color: var(--sf-white);
}

.item-name,
.item-price {
  color: var(--sf-black);
  background-color: var(--sf-white);
}

/* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
  .cat-title {
    display: none;
  }

  .cat-mid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    height: 100%;
  }

  .item-card {
    height: 100%;
    margin-top: 0;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .cat-title {
    display: block;
    padding: 40px 0 40px 0;
    font-size: 18px;
    font-weight: bold;
  }

  .cat-mid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
  }

  .item-card {
    height: 100%;
    margin-top: 0;
  }
}
